player-connection-mode=Connect
player-connection-guid=251568166
player-connection-debug=0
player-connection-project-name=unitylearning2
player-connection-wait-timeout=-1
player-connection-ip=10.0.0.73
player-connection-ip=192.168.56.1
player-connection-ip=172.17.208.1
profiler-enable=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
profiler-enable-deep-profiling-support=1
nolog=
build-guid=f7978d89ba7345ff823f6a82888f80d5
